:root {
  /* Primary */
  /* Text */
  --color-very-dark-desaturated-blue: hsl(238, 29%, 16%);
  --color-soft-red: hsl(14, 88%, 65%);

  /* #### Gradient */
  --color-soft-violet: hsl(273, 75%, 66%);
  --color-soft-blue: hsl(240, 73%, 65%);

  /* Neutral */
  /* Text */
  --color-very-dark-grayish-blue: hsl(237, 12%, 33%);
  --color-dark-grayish-blue: hsl(240, 6%, 50%);

  /* Dividers */
  --color-light-grayish-blue: hsl(240, 5%, 91%);
}

* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Kumbh Sans", sans-serif;
  font-size: 1.2rem;
}

.container {
  background-image: linear-gradient(
    to top,
    var(--color-soft-blue),
    var(--color-soft-violet)
  );
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.faq {
  max-width: 60%;
  background-color: #fff;
  border-radius: 20px;
  display: flex;
}

@media only screen and (max-width: 1344px) {
  .faq {
    max-width: 70%;
  }
}

@media only screen and (max-width: 1044px) {
  .faq {
    max-width: 90%;
  }
}

@media only screen and (max-width: 375px) {
  .faq {
    flex-direction: column;
  }
}

.faq__image {
  flex: 0 0 50%;
  position: relative;
  background-image: url("/images/bg-pattern-desktop.svg");
  background-repeat: no-repeat;
  background-position: right -8% bottom 35%;
}

@media only screen and (max-width: 375px) {
  .faq__image {
    /* flex: 0; */
    flex: 0 0 50%;
    background-image: url("/images/bg-pattern-mobile.svg");
    background-position: center top;
    /* width: 100px; */
    height: 110px;
  }
}

.faq__image .woman {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.faq__image .woman img {
  position: absolute;
  top: 50%;
  left: -20%;
  transform: translateY(-50%);
}

.faq__image .box {
  position: absolute;
  top: 60%;
  left: -22%;
  transform: translateY(-50%);
}
@media only screen and (max-width: 375px) {
  .faq__image .woman {
    overflow: visible;
  }

  .faq__image .woman img {
    /* position: relative; */
    top: 0%;
    left: 50%;
    transform: translate(-50%, -60%);
    width: 70%;
  }

  .faq__image .box {
    top: 0;
    left: 25%;
    transform: translate(-50%, -50%);
    width: 30%;
  }
}

.faq__content {
  padding: 4rem;
  padding-bottom: 8rem;
  font-size: 1.6rem;
  flex: 1;
  color: var(--color-dark-grayish-blue);
}

@media only screen and (max-width: 375px) {
  .faq__content {
    padding: 3rem;
    padding-bottom: 6rem;
    font-size: 1.4rem;
  }
}

.faq__content .faq__content__header {
  text-transform: uppercase;
  margin: 3rem 0;
  color: var(--color-very-dark-desaturated-blue);
}
@media only screen and (max-width: 375px) {
  .faq__content .faq__content__header {
    text-align: center;
    margin-top: 0rem;
  }
}

.faq__content .faq__item {
  padding: 0rem 0 0;
  border-bottom: 1px solid var(--color-light-grayish-blue);
}
.faq__item:hover {
  cursor: pointer;
}

.faq__item .faq__item__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
}
.faq__item:hover .faq__item__title {
  color: var(--color-soft-red);
}
.faq__item--active .faq__item__title {
  font-weight: bold;
  color: var(--color-very-dark-desaturated-blue);
}

.faq__item .faq__item__title span img {
  transition: transform 1s;
}

.faq__item--active .faq__item__title span img {
  transform: rotate(180deg);
}

.faq__item .faq__item__detail {
  padding: 0;
  max-height: 0;
  transform: scaleY(0);
  transform-origin: top;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s, padding 0.8s 0.4s;
  font-size: 1.3rem;
}
@media only screen and (max-width: 375px) {
  .faq__item .faq__item__detail {
    font-size: 1.2rem;
  }
}

.faq__item--active .faq__item__detail {
  max-height: 100%;
  visibility: visible;
  padding: 0 0 2rem;
  transform: scaleY(1);
  opacity: 1;
}

.attribution {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);

  font-size: 11px;
  text-align: center;
}
.attribution a {
  /* color: hsl(228, 45%, 44%); */
  color: #fff;
}
